<template>
  <v-app>
    <app-side-bar v-model="drawer" :groups="groups"></app-side-bar>
    <v-app-bar app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="headline text-uppercase">
        <span>GeoIp Client</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import AppSideBar from '@/components/AppSideBar'

export default {
  name: 'App',
  components: {
    AppSideBar,
  },
  data: () => ({
    drawer: false,
    groups: [
      {
        title: 'ПОИСК',
        items: [     
          {
            icon: 'location_searching',
            route: 'Ip',
            title: 'по ip',
          },
          {
            icon: 'location_city',
            route: 'City',
            title: 'по городу',
          },
        ]
      },
      {
        title: "БАЗА",
        items: [
          {
            icon: 'storage',
            route: 'Ranges',
            title: 'Диапазоны',
          },
        ]
      },
    ]
  }),
};
</script>
