<template>
  <v-container>
    <v-list>
      <div v-for="(range, idx) in ranges" :key="idx">
        <v-subheader>
          <span v-if="range.From !== range.To">
            {{ range.From }} &mdash; {{ range.To }}
          </span>
          <span v-else>
            {{ range.From }}
          </span>
        </v-subheader>
        <v-list-location :value="range.Location" />
        <v-divider v-if="idx !== ranges.length - 1" :key="`divider${idx}`"></v-divider>
      </div>
    </v-list>
    <v-pagination
      v-model="page"
      :length="countPages"
      :total-visible="9"
    ></v-pagination>
  </v-container>
</template>

<script>
import api from '@/api';
import VListLocation from '@/components/VListLocation';

export default {
  components: {
    VListLocation,
  },

  data: () => ({
    page: 1,
    countPerPage: 5,
    total: 0,
    ranges: [],
    loading: false,
    error: null,
  }),

  computed: {
    countPages() {
      return Math.ceil(this.total / this.countPerPage);
    },
  },

  methods: {
    async fetch() {
      this.loading = true;

      try {
        const offset = this.page * (this.countPerPage - 1);
        const response = await api.get(`/ip/ranges?offset=${offset}&count=${this.countPerPage}`);

        this.total = response.data.Total;
        this.ranges = response.data.Items;
      } catch (responseError) {
        this.error = responseError;
      }

      this.loading = false;
    }
  },

  watch: {
    page: {
      handler() {
        this.fetch();
      }
    }
  },

  async mounted() {
    if (this.total > 0) return;
    await this.fetch();
  },
};
</script>
