<template>
  <v-container>
    <v-flex lg4 sm6 xs12>
      <v-text-field clearable flat single-line
        ref="searchInput"
        v-model="city"
        :placeholder="'введите город'"
        :rules="[rules.required]"
        :loading="loading"
        append-icon="search"
        @click:append="search"
        @keyup.enter="search"
        @click:clear="city = ''" />
    </v-flex>

    <div v-if="error">
      {{ error }}
    </div>

    <v-list v-if="locations">
      <div v-for="(location, idx) in locations" 
        :key="idx">
        <v-list-location :value="location" />
        <v-divider v-if="idx !== locations.length-1"></v-divider>
      </div>
    </v-list>
  </v-container>
</template>

<script>
import api from '@/api';
import VListLocation from '@/components/VListLocation'

export default {
  components: {
    VListLocation,
  },

  data: () => ({
    city: null,
    rules: {
      required: value => !!value || 'Обязательное',
    },
    loading: false,
    locations: null,
    error: null,
  }),

  methods: {
    async search() {
      const input = this.$refs["searchInput"];
      if (!input.validate()) {
        return;
      }

      this.loading = true;
      this.locations = null;
      this.error = null;

      try {
        const response = await api.get(`/city/locations?city=${this.city}`);

        this.locations = response.data;
      } catch (responseError) {
        this.error = responseError;
      }

      this.loading = false;
    },
  },
};
</script>
