<template>
  <v-container>
    <v-flex lg4 sm6 xs12>
      <v-text-field clearable flat single-line
        ref="searchInput"
        v-model="ipAddress"
        :placeholder="'введите IPv4 адрес'"
        :rules="[rules.required, rules.ip]"
        :loading="loading"
        append-outer-icon="search"
        @click:append-outer="search"
        @keyup.enter="search"
        @click:clear="ipAddress = ''" />
    </v-flex>

    <div v-if="error">
      {{ error }}
    </div>

    <div v-if="location">
      <v-card>
        <v-card-location :value="location" />
      </v-card>
    </div>
  </v-container>
</template>

<script>
import api from '@/api';
import VCardLocation from '@/components/VCardLocation'

export default {
  components: {
    VCardLocation,
  },

  data: () => ({
    ipAddress: null,
    rules: {
      required: value => !!value || 'Обязательное',
      ip: value => {
        const pattern = /^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/
        return pattern.test(value) || 'Невалидный ip адрес'
      },
    },
    loading: false,
    location: null,
    error: null,
  }),

  methods: {
    async search() {

      const input = this.$refs["searchInput"];
      if (!input.validate()) {
        return;
      }

      this.loading = true;
      this.location = null;
      this.error = null;

      try {
        const response = await api.get(`/ip/location?ip=${this.ipAddress}`);

        this.location = response.data;
      } catch (responseError) {
        this.error = responseError;
      }
      
      this.loading = false;  
    },
  },
};
</script>
