<script>
export default {
  name: "app-side-bar",
  props: {
    value: Boolean,
    groups: Array,
  },
  computed: {
    drawer: {
      get() {
        return this.value;  
      },
      set(val) {
        this.$emit('input', val);
      }
    }
  },
}
</script>

<template>
  <v-navigation-drawer v-model="drawer" fixed app width="190">
    <v-list>
      <div v-for="(group, i) in groups" 
        :key="`group${i}`"
      >
        <v-subheader v-if="group.title">{{ group.title }}</v-subheader>
        <v-list-item v-for="(item, j) in group.items" 
            :key="`group${i}.item${j}`"
            :to="item.route"
        >
          <v-list-item-action>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider v-if="i != groups.length-1"></v-divider>
      </div>
    </v-list>
  </v-navigation-drawer>
</template>
