<script>
export default {
  name: "v-card-location",
  props: {
    value: Object,
  },
};
</script>

<template>
  <v-list>
    <v-list-item>
      <v-list-item-icon>
        <v-icon color="indigo">location_city</v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title class="selectable">
          {{ value.City }}
        </v-list-item-title>
        <v-list-item-subtitle>Город</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-list-item>
      <v-list-item-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title class="selectable">
          {{ value.Country }} · {{ value.Region }}
        </v-list-item-title>
        <v-list-item-subtitle>Страна · Регион</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-divider inset></v-divider>
    <v-list-item>
      <v-list-item-icon>
        <v-icon color="indigo">store</v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title class="selectable">
          {{ value.Organization }}
        </v-list-item-title>
        <v-list-item-subtitle>Организация</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-divider inset></v-divider>
    <v-list-item>
      <v-list-item-icon>
        <v-icon color="indigo">local_post_office</v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title class="selectable">
          {{ value.Postal }}
        </v-list-item-title>
        <v-list-item-subtitle>Почтовый индекс</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-divider inset></v-divider>
    <v-list-item>
      <v-list-item-icon>
        <v-icon color="indigo">place</v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title class="selectable">
          {{ value.Latitude }}° {{ value.Longitude }}°
        </v-list-item-title>
        <v-list-item-subtitle>Координаты</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<style>
  .selectable {
    user-select: text;
  }
</style>