<script>
import VCardLocation from '@/components/VCardLocation'

export default {
  name: "v-list-location",
  props: {
    value: Object,
  },
  components: {
    VCardLocation,
  },
  data: () => ({
    detailsDialog: false,
  }),
  methods: {
    openDetails() {
      this.detailsDialog = true;
    }
  }
};
</script>

<template>
  <v-list-item class="selectable">
    <v-list-item-content>
      <v-list-item-title>
        {{ value.City }}
      </v-list-item-title>
      <v-list-item-subtitle>
        <span>{{ value.Country }}</span>
        <span v-if="value.Region">, {{ value.Region }}</span>
        <span> · {{ value.Postal }}</span>
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-content class="hidden-sm-and-down">
      <v-list-item-title class="text-xs-right">
        {{ value.Organization }}
      </v-list-item-title>
      <v-list-item-subtitle class="text-xs-right">
        Организация
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action class="coordinates">
      <v-list-item-action-text>{{ value.Latitude }}° {{ value.Longitude }}°</v-list-item-action-text>
      <v-icon @click="openDetails">
        info
      </v-icon>
    </v-list-item-action>
    <v-dialog v-model="detailsDialog" max-width="500px">
      <v-card>
        <v-card-location :value="value" />
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text depressed
            @click="detailsDialog = false"
          >
            Закрыть
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-list-item>
</template>

<style>
  .selectable {
    user-select: text;
  }
  .coordinates {
    width: 120px;
  }
</style>
